<head>
  <title>Something went wrong</title>
</head>
<body>
  <h1>Sorry! Something went wrong.</h1>
  <p>Our team has been notified. Please try again later.</p>
  <a href="/">Return to Home</a>
</body>