<!DOCTYPE html>

<html lang="en">

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">api-example-nodejs-client</a>
            </div>
        </div>
    </nav>

    <h1>Testing <%= service %> API</h1>

    <div>
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Endpoint</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><%= unRestrictedEndpoint %></td>
                <td>Unrestricted endpoint</td>
                <td>
                    <a class="btn btn-primary" href="unrestrictedCall">Try it</a>
                </td>
            </tr>
            <tr>
                <td><%= appRestrictedEndpoint %></td>
                <td>Application restricted endpoint</td>
                <td>
                    <a class="btn btn-primary" href="applicationCall">Try it</a>
                </td>
            </tr>
            <tr>
                <td><%= userRestrictedEndpoint %></td>
                <td>User restricted endpoint</td>
                <td>
                    <a class="btn btn-primary" href="userCall">Try it</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <h2>Log Out</h2>

    <form action="/logout" method="POST">
        <button type="submit">Log Out</button>
    </form>

    <h2>Get Services</h2>

    <form action="/services" method="GET">
        <button type="submit">Get Services</button>
    </form>

    <h2>Create Test User</h2>

    <form action="/test-users" method="POST">
        <button type="submit">Create Test User</button>
    </form>

    <form action="/itsa-status" method="POST">
        <label for="nino">National Insurance Number:</label>
        <input type="text" name="nino" id="nino" required>
        <label for="taxYear">Tax Year:</label>
        <input type="text" name="taxYear" id="taxYear" required>
        <button type="submit">Create Test ITSA Status</button>
    </form>

    <h2>Retrieve ITSA Status</h2>

    <form action="/itsa-status" method="GET">
        <label for="nino">National Insurance Number:</label>
        <input type="text" name="nino" id="nino" required>
        <label for="taxYear">Tax Year:</label>
        <input type="text" name="taxYear" id="taxYear" required>
        <button type="submit">Retrieve ITSA Status</button>
    </form>

    <h2>Retrieve Income and Expenditure Obligations</h2>

    <form action="/obligations" method="GET">
        <label for="nino">National Insurance Number:</label>
        <input type="text" name="nino" id="nino" required>
        <button type="submit">Retrieve Obligations</button>
    </form>

    <h2>Business Income Sources</h2>

    <form action="/business-sources" method="GET">
        <label for="nino">National Insurance Number:</label>
        <input type="text" name="nino" id="nino" required>
        <button type="submit">Fetch Business Sources</button>
    </form>

    <form action="/test/uk-property-business" method="POST">
        <label for="nino">National Insurance Number:</label>
        <input type="text" name="nino" id="nino" required>
        <button type="submit">Create test UK Property Business</button>
    </form>

    <h2>Submit Property Period Summary</h2>

    <form action="/periodic-summary" method="POST">
        <label for="nino">National Insurance Number:</label>
        <input type="text" name="nino" id="nino" required>
        <button type="submit">Submit Summary</button>
    </form>
</div>
</body>
</html>
