/* ==========================
   Forms
========================== */
form {
  margin-bottom: 20px;      /* space between each form */
}

/* ==========================
   Body
========================== */
body {
  padding-bottom: 50px; /* adjust the gap size */
  margin: 0; /* optional, remove default margins */
  min-height: 100vh; /* ensures it fills the viewport */
}

.error-message {
  white-space: pre-line; /* preserves \n line breaks */
}