<head>
  <title>Something went wrong</title>
</head>
<body>
    <h1>Permission Required</h1>
    <p>
      You did not grant access to HMRC. We need your permission to securely connect your account and submit your data on your behalf. 
    </p>
  <a href="/">Return to Home</a>
</body>